header {
  padding: 10px 0;
  background: #1c1c1c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Montserrat;
  position: fixed;
  width: 100%;
  z-index: 2;

  .top {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    line-height: 50px;
    background: #1c1c1c;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: white;
    opacity: 0.69;
    transition: 0.3s;
  }
  a:hover {
    background: orange;
    color: white;
    opacity: 1;
    padding: 0 10px;
  }

  a:last-of-type {
    display: none;
    font-size: 30px;
    transition: transfrom 0.3s;
  }

  /* a:last-of-type:hover {
  transform: rotateZ(-90deg);
} */

  .rotateZ {
    transform: rotateZ(-90deg);
  }

  .block {
    display: block;
  }

  @media (max-width: 760px) {
    .top {
      flex-direction: column;
      align-items: center;
    }

    a {
      display: none;
    }

    a:last-of-type {
      order: -1;
      align-self: flex-end;
      display: block;
    }
  }
}
