.section-6 {
  padding: 80px 0;
  background: #6696e2;
  text-align: center;
  font-family: Montserrat;

  h2 {
    padding-top: 100px;
    color: white;
    font-size: 36px;
  }
  p {
    padding-bottom: 40px;
  }
  .small {
    padding: 30px 0;
  }
  .line {
    width: 100%;
    margin-bottom: -8px;
  }
  ul {
    list-style-type: none;
  }
  .box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      width: 23%;
    }
  }

  .black1 {
    background: url("../content/hdr.png");
    background-size: cover;
    font-size: 20px;
    padding-top: 15px;
    border-radius: 0 4px 0 0;
  }
  .black2 {
    background: url("../content/hdr2.png");
    font-size: 30px;
    span {
      font-size: 94px;
    }
  }
  .black3 {
    background: url("../content/hdr3.png");
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: -15px;
    span {
      opacity: 0.5;
    }
  }
  .green {
    background: url("../content/green.png");
    color: white;
    margin-top: 10px;
  }

  li {
    background: url("../content/btm.png");
    font-size: 14px;
    color: #86878b;
    padding: 10px 0;
  }
  .last {
    border-radius: 0 0 8px 8px;
  }
  p {
    color: white;
  }
}

@media (max-width: 800px) {
  .section-6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

    .box {
      display: flex;
      flex-wrap: wrap;

      div {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .line {
      width: 100%;
    }
    .small {
      display: none;
    }
  }
}
