.section-7 {
  padding: 70px 0;

  .swiper {
    margin-top: 200px;
    max-width: 12000px;
    height: 300px;
    text-align: center;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .slide-1,
  .slide-2,
  .slide-3 {
    width: 300px;
    margin-left: 100px;
  }
  h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
  }

  hr {
    width: 100px;
    margin: 20px auto;
    border: 1px solid #6696e2;
  }
  .blue {
    margin-bottom: 40px;
    background: #6696e2;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    color: white;
  }

  .swiper-pagination-bullet {
    border: 3px solid #e27866;
    background: #e27866;
    width: 10px;
    height: 10px;
  }

  background: white;
  .gr {
    display: grid;
    grid-template-columns: 100px 150px;
    grid-auto-rows: 20px;
    align-items: center;
    justify-content: center;

    img {
      grid-row: 1 / 2;
    }
    .nm {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      text-align: left;
      font-size: 20px;
    }
    .job {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      text-align: left;
      font-size: 14px;
      color: #86878b;
    }
  }

  @media (min-width: 1000px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
